__pycache__
config.json
.mp/
venv/
Songs/
google-maps-scraper-0.9.7/
niche.txt
*.exe
auto.sh
src/tts.py
.env
src/prompt_audit.py
prompt_audit.txt
src/classes/YouTube-Generic.py
src/classes/YouTube-Legacy.py