wheel
termcolor
schedule
TTS
prettytable
webdriver_manager
selenium_firefox
selenium
g4f
moviepy
Pillow==9.5.0
yagmail
assemblyai
srt_equalizer
undetected_chromedriver
platformdirs
numpy>=1.20.0
scipy>=1.7.0
soundfile>=0.10.3
librosa>=0.8.0
pydub>=0.25.1
